@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email";
    Layout = "_IdentityLayout";
}

<!-- Title -->
<div class="mb-4">
    <h1 class="font-bold text-5xl">
        @ViewData["Title"]
    </h1>
    <a href="@("/Identity" + Url.Action("Login", "Account"))" class="link flex mt-2">
        ← Back to Log in
    </a>
</div>
<form method="post">
    <div class="field">
        <label asp-for="Input.Email" class="text-field-description"></label>
        <input asp-for="Input.Email" class="text-field w-full" />
    </div>
    <button type="submit" class="mt-4 button">Resend</button>
</form>
