@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<h1 class="font-bold text-5xl mb-4">
    @ViewData["Title"]
</h1>

<h4>Enter your email.</h4>
<hr />
<form method="post">
    <div class="field">
        <label asp-for="Input.Email" class="text-field-description"></label>
        <input asp-for="Input.Email" class="text-field w-72" />
    </div>
    <button type="submit" class="button">Resend</button>
</form>
