@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-field {
    @apply rounded;
    @apply border;
    @apply p-1;
}
.text-field-description {
    @apply text-gray-500;
}

.text-danger {
    @apply text-red-500;
}

.nav-group {
    @apply mb-2;
    @apply flex;

    @apply bg-purple-50;
    @apply rounded;
    @apply cursor-pointer;
    @apply overflow-hidden;

    .nav-item {
        @apply py-1;
        @apply px-2;
        @apply cursor-pointer;
    }
    .nav-item:disabled {
        @apply text-gray-400;
        @apply pointer-events-none;
    }
    .nav-item:not(:disabled) {
        @apply hover_bg-purple-200;
        // @apply hover_text-white;
    }
    .nav-item:not(:last-child) {
        @apply border-r;
    }
}

.story-tag {
    @apply px-1;
    @apply text-xs;
    @apply rounded-md;
    @apply flex;
    @apply items-center;

    .icon {
        @apply cursor-pointer;
        @apply transition-all;
        @apply overflow-hidden;
    }

    &.favourite {
        @apply text-red-500;
        @apply bg-red-100;
    }
    &.developing {
        @apply text-purple-500;
        @apply bg-purple-100;
    }
    &.long-running {
        @apply text-yellow-500;
        @apply bg-yellow-100;
    }
    &.recently-updated {
        @apply text-red-500;
        @apply bg-red-100;
    }
}

.button {
    @apply py-1;
    @apply px-2;
    @apply bg-purple-50;
    @apply rounded;
    @apply cursor-pointer;

    @apply hover_bg-purple-200;
    // @apply hover_text-white;

    &:disabled {
        @apply border-gray-200;
        @apply bg-gray-50;
        @apply text-gray-400;
    }

    &.danger {
        @apply bg-red-50;
        @apply hover_bg-red-200;
    }
}

.button-danger {
    @apply button;
    @apply border-red-500;
    @apply text-red-500;

    @apply hover_border-transparent;
    @apply hover_bg-red-500;
    @apply hover_text-white;


}

.text-button {
    @apply flex;
    @apply items-center;
    @apply text-gray-400;
    @apply hover_text-black;
    @apply text-center;
    @apply text-sm;
}

.link {
    @apply hover_underline;
}

.text-muted {
    @apply text-gray-500;
}

.input-label {
    @apply mr-2;
    @apply w-44;
}

.view-tab {
    @apply px-2;
    @apply py-1;
    @apply rounded-md;
    @apply bg-purple-50;
    @apply mr-2;
    @apply cursor-pointer;
    @apply flex;

    svg {
        @apply mt-1;
        @apply w-4;
        @apply h-4;
        @apply text-purple-300;
    }
    &.selected svg {
        @apply text-purple-500;
    }
    .name {
        @apply hidden;
        @apply md_ml-1;
        @apply md_block;
    }
    &.selected .name {
        @apply ml-1;
        @apply block;
    }

    &.selected {
        // @apply text-purple-800;
        @apply font-bold;
    }
    &:hover {
        @apply bg-purple-200;
    }
}

.table {
    & > div:first-child {
        @apply uppercase;
        @apply font-bold;
        @apply text-gray-400;
        @apply bg-gray-100;
        @apply px-2;
        @apply py-1;
        @apply text-xs;
        @apply rounded-t-lg;
        @apply border-t;
        @apply border-l;
        @apply border-r;
    }
    & > div:not(:first-child) {
        @apply p-2;
        @apply border-t;
        @apply border-l;
        @apply border-r;
        @apply last_border-b;
        @apply last_rounded-b-lg;
    }
}

.site-header {
    @apply px-5;
    @apply md_px-10;
    @apply pt-5;

    h1 {
        @apply font-bold;
        @apply text-5xl;
    }

    a {
        @apply mt-2;
        @apply link;
        @apply flex;

        span {
            @apply ml-1;
        }
    }
}

.related-left-bar::before {
    content: "";
    position: absolute;
    margin-top: 3.25px;
    margin-left: 3.25px;
    width: 8.5px;
    height: 8.5px;
    background-color: rgb(155, 97, 255);
    border-radius: 100px;
}

.related-left-bar::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(155, 97, 255, 0.25);
    border-radius: 100px;
}


.left-bar {
    border-left: 2px solid rgb(155, 97, 255);
}

.left-bar::before {
    content: "";
    width: 16px;
    height: 16px;
    top: 61px;
    left: 9px;
    position: absolute;
    background-color: rgb(155, 97, 255);
    border-radius: 100px;
}

.left-bar::after {
    content: "";
    width: 28px;
    height: 28px;
    top: 55px;
    left: 3px;
    position: absolute;
    background-color: rgba(155, 97, 255, 0.25);
    border-radius: 100px;
}


// .background-dotted {
//     background:
//         linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
//         linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
//         $dot-color;
//     background-size: $dot-space $dot-space;
// }

/*
.low-level-tag {
    @apply text-sm;
    background-color: rgb(226, 213, 255);
    // @apply hover_bg-yellow-400;
    @apply cursor-pointer;
    @apply rounded-md;
    @apply p-1;
    @apply mr-1;
}

.high-level-tag {
    @apply text-sm;
    @apply bg-yellow-300;
    @apply hover_bg-yellow-400;
    @apply cursor-pointer;
    @apply rounded-md;
    @apply p-1;
    @apply mr-1;
}

.text-field {
    @apply rounded border p-1;
}

.text-field-description {
    @apply text-gray-500;
}

// .button {
//     @apply bg-white;
//     @apply text-gray-700;

//     @apply py-1;
//     @apply px-2;

//     @apply border;
//     @apply border-gray-500;

//     @apply rounded;
//     @apply cursor-pointer;

//     @apply hover_border-transparent;
//     @apply hover_bg-gray-500;
//     @apply hover_text-white;
// }

.button {
    @apply bg-white;
    @apply text-purple-700;

    @apply py-1;
    @apply px-2;

    @apply border;
    @apply border-purple-500;

    @apply rounded;
    @apply cursor-pointer;

    @apply hover_border-transparent;
    @apply hover_bg-purple-500;
    @apply hover_text-white;
}

.button:disabled {
    @apply border-gray-200;
    @apply bg-gray-50;
    @apply text-gray-400;
}

.text-danger {
    @apply text-red-500;
}

.button-danger {
    @apply button;

    @apply border-red-500;
    @apply text-red-500;

    @apply hover_border-transparent;
    @apply hover_bg-red-500;
    @apply hover_text-white;
}

.text-button {
    @apply flex;
    @apply items-center;
    @apply text-gray-400;
    @apply hover_text-black;
    @apply text-center;
    @apply text-sm;
}

.link {
    @apply hover_underline;
}

.text-muted {
    @apply text-gray-500;
}

.input-label {
    @apply mr-2;
    @apply w-44;
}

.table {
    
    & > div:first-child {
        @apply uppercase;
        @apply font-bold;
        @apply text-gray-400;
        @apply bg-gray-100;
        @apply px-2;
        @apply py-1;
        @apply text-xs;
        @apply rounded-t-lg;
        @apply border-t;
        @apply border-l;
        @apply border-r;
    }
    & > div:not(:first-child) {
        @apply p-2;
        @apply border-t;
        @apply border-l;
        @apply border-r;
        @apply last_border-b;
        @apply last_rounded-b-lg;
    }
}

.nav-group {
    @apply mb-2;
    @apply border;
    @apply rounded-md;
    @apply flex;
    @apply bg-white;
    @apply shadow;
    .nav-item {
        @apply py-1;
        @apply px-2;
        @apply cursor-pointer;
    }
    .nav-item:disabled {
        @apply text-gray-400;
        @apply pointer-events-none;
    }
    .nav-item:not(:disabled) {
        @apply hover_bg-gray-100;
    }
    .nav-item:not(:last-child) {
        @apply border-r;
    }
}

.view-tab {
    @apply px-2;
    @apply py-1;
    @apply rounded-xl;
    @apply bg-purple-50;
    @apply mr-2;
    @apply cursor-pointer;
    @apply flex;

    &.selected {
        @apply text-purple-600;
        @apply font-bold;
        @apply border-purple-600;
    }
}
.view-tab:hover {
    // @apply border-purple-600;
}

//
// 
// Components
// 
// 
.site-header {
    @apply px-5;
    @apply md_px-10;
    @apply pt-5;
    
    h1 {
        @apply font-bold;
        @apply text-5xl;
    }

    a {
        @apply mt-2;
        @apply link;
        @apply flex;

        span {
            @apply ml-1;
        }
    }
}

.multi-background {
    transform: skewY(-12deg);
    transform-origin: 0;
    -webkit-backface-visibility: hidden;
    outline: 1px solid white;
}

#tabs-container {
    @apply max-h-12;
    &.show-all {
        @apply max-h-full;
    }
    &.show-all > .show-all-button {
        @apply hidden;
    }
}


// Place all the styles related to the NewsGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.news-group-vote-tracker {
    display: none;
}

.show-vote-tracker {
    .news-group-vote-tracker {
        display: initial;
    }

    .news-group-content {
        display: none;
    }
}

.related-left-bar::before {
    content: "";
    position: absolute;
    margin-top: 8.25px;
    margin-left: 6.25px;
    width: 8.5px;
    height: 8.5px;
    background-color: rgb(155, 97, 255);
    border-radius: 100px;
}

.related-left-bar::after {
    content: "";
    position: absolute;
    margin-top: 5px;
    margin-left: 3px;
    width: 15px;
    height: 15px;
    background-color: rgba(155, 97, 255, 0.25);
    border-radius: 100px;
}

.left-bar {
    border-left: 2px solid rgb(155, 97, 255);
}

.left-bar::before {
    content: "";
    width: 16px;
    height: 16px;
    top: 61px;
    left: 9px;
    position: absolute;
    background-color: rgb(155, 97, 255);
    border-radius: 100px;
}

.left-bar::after {
    content: "";
    width: 28px;
    height: 28px;
    top: 55px;
    left: 3px;
    position: absolute;
    background-color: rgba(155, 97, 255, 0.25);
    border-radius: 100px;
}

.background-gradient {
    background-color: #4158d0;
    background-image: linear-gradient(158deg, #4159d099 0%, #c850c099 46%, #ffcc7099 100%);
    background-size: 200% 200%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    // transform: skewY(-12deg);
    // transform-origin: 0;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.wavy.inner {
    color: transparent;
}

.wavy.outer {
    font-size: 4pt;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    letter-spacing: 300px;
    word-wrap: none;
}

// .background-dotted {
//     background: linear-gradient(90deg, white 19px, transparent 1%) center,
//         linear-gradient(white 19px, transparent 1%) center, #c5c5c5;
//     background-size: 20px 20px;
// }

.wavy {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    letter-spacing: 300px;
}

.author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.author-info a {
    color: white;
}

.slider > .nav > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider > a:active {
    top: 1px;
}

.slider > a:focus {
    background: #000;
}
*/
