@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="px-5 md:px-10 pt-10 flex">
    <h1 class="font-bold text-5xl">Manage Your Account</h1>
</div>

<div class="px-5 md:px-10 flex">
    <div class="col-md-3 mt-5">
            <partial name="_ManageNav" />
        </div>
</div>

<div class="px-5 md:px-10 pb-10 pt-5">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
