@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="mb-5">
    <h1 class="font-bold text-3xl">@ViewData["Title"]</h1>
</div>

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-2 flex">
                <label asp-for="Input.OldPassword" class="input-label"></label>
                <input asp-for="Input.OldPassword" class="text-field" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-2 flex">
                <label asp-for="Input.NewPassword" class="input-label"></label>
                <input asp-for="Input.NewPassword" class="text-field" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-2 flex">
                <label asp-for="Input.ConfirmPassword" class="input-label"></label>
                <input asp-for="Input.ConfirmPassword" class="text-field" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="mt-2 button">Update password</button>
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}