@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="">
    <h1 class="font-bold text-3xl">@ViewData["Title"]</h1>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div>
    <form id="email-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="flex mt-5">
            <label class="w-44 mr-2" asp-for="Email"></label>
            @if (Model.IsEmailConfirmed)
            {
                <div class="flex">
                    <input asp-for="Email" class="text-field " disabled />
                    <div class="ml-2">
                        <span class="font-bold text-purple-500">✓</span>
                    </div>
                </div>
            }
             else
            {
                <input asp-for="Email" class="text-field " disabled />
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
            }
        </div>
        <div class="flex mt-2">
            <label class="w-44 mr-2" asp-for="Input.NewEmail"></label>
            <input asp-for="Input.NewEmail" class="text-field " />
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
        </div>
        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="mt-5 button">Change email</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
