@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="mb-5">
    <h1 class="font-bold text-3xl">@ViewData["Title"]</h1>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="flex">
                <label asp-for="Username" class="input-label"></label>
                <input asp-for="Username" class="text-field" disabled />
            </div>
            <input type="hidden" asp-for="Input.PhoneNumber" class="text-field" />
            @* <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="text-field" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div> *@
            <button id="update-profile-button" type="submit" class="mt-5 button">Save</button>
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}