@{
    ViewData["Title"] = "Admin";
}

<div class="site-header">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="p-10 pt-5">
    <button class="button" onclick="window.location.href='@Url.Action("UserManagement", "Admin")'">→ User
        Management</button>
    <button class="button" onclick="window.location.href='@Url.Action("NewsGroupAssignment", "Admin")'">→ News Group Assignment</button>
</div>
